section {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

form {
  background-color: #394264;
  height: 30vh;
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

label {
  background-color: red;
  color: white;
  height: 20%;
}

input {
  background-color: #50597b;
  border: none;
  height: 7vh;
  width: 70%;
  text-align: center;
  font-size: 150%;
}

button {
  font-size: 150%;
  color: #95a5a6;
  height: 7vh;
  width: 70%;
  background-color: #1f253d;
  border: none;
}